html, body, h1, h2, p, li, ul, div
{
    margin: 5px;
    padding: 0px;
    color: white;
    letter-spacing: 1px;
}

html, body
{
    height: 100%
}

p
{
    margin: 10px;
}

html
{
    background-color:lavender;
}

h1
{
    text-align: center;
    background-color: thistle;
    padding-top: 60px;
}

.header
{
    background-color: thistle;
    height: 170px;
}

nav a:link, a:visited
{
    background-color: darkgray;
    border-color:rgb(7, 121, 121);
    border-radius: 7px;
    color: whitesmoke;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 90%;
    transition: box-shadow .3s;
}

nav a:hover, a:active
{
    box-shadow: 0 0 11px rgb(141, 29, 141);
}

nav 
{
    width: 15%;
    height: 80%;
    float: left;
}

nav li
{
    font-size: 16pt;
    display: block;
    margin-left: 10px;
    padding: 5px;
    margin-top: 15px;
    width: 70%;
    text-align: left;
}

.pImgae
{
    display: inline-block;
}

.pImage img
{
    border: 2px solid purple;
    border-radius: 6px;
}

.videos
{
    border: 2px solid purple;
    border-radius: 6px;
    display: block;
    width: 560px;
    height: 315px;
    margin: auto; 
}

.cpu
{
    width: 70%;
    background: darkgrey;
    background-attachment: fixed;
    height: 250px;
    margin-top: 25px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 280px;
    border-radius: 7px;
    position: relative;
}

.pInfocpu
{
   
    position: absolute;
    top: 25%;
    transform: translateY(-40%);
    padding-left: 100px;
    padding-right: 180px;
    padding-top: 100px;
    padding-bottom: 20px;

}

.pImagecpu
{
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    float: left;
    display: inline;
}

.gpu
{
    width: 70%;
    
    background: darkgrey;
    background-attachment: fixed;
    height: 250px;
    margin-top: 25px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 280px;
    border-radius: 7px;
    position: relative;  
}

.pInfogpu
{
   clear:both;
    position: absolute;
    top: 25%;
    transform: translateY(-40%);
    padding-left: 70px;
    padding-right: 280px;
    padding-top: 100px;
    padding-bottom: 25px;

}

.pImagegpu
{
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    float: right;
    margin-right: 100px;
    display: inline;
}

.ram
{
    width: 70%;
    background: darkgrey;
    background-attachment: fixed;
    height: 250px;
    margin-top: 25px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 280px;
    border-radius: 7px;
    position: relative;    
}

.pInfo
{

    clear: both;
    position: absolute;
    top: 25%;
    transform: translateY(-40%);
    padding-left: 280px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 25px;
}

.pImage
{
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    margin-left: 10px;
    display: inline-block;
}

.pImage img 
{
    width: 150px;
    height: 120px;
}

.pInfo
{

    clear: both;
    position: absolute;
    top: 25%;
    transform: translateY(-40%);
    padding-left: 280px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 25px;
}

.motherboardInfo
{
    background-color: darkgray;
    margin-left: 260px;
    margin-top: 7px;
    border-radius: 7px;
}
.imagesmotherboard
{
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    display: inline;
}
